<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="style.css"> -->

</head>
<body>

    <%- include("../admin/admindashboard.ejs") %>
    <br><br>
   
    <form name="frm" action="/categories/updcatbyid/<%= cid %>" method="post">

    <div class="container bg-dark p-5">

        <div class="form-group">
            <input type="text" class="form-control" name="name" value="<%=name%>" placeholder="Enter category Name" required />
        </div>
        <br>
         <div class="form-group">
            <input type="text" class="form-control" name="description" value="<%=description%>" placeholder="Enter desc" />
        </div>
        <br>

        <div class="form-group">
            <input type="submit" class="btn btn-primary control form-control" name="s" value="Update Category"/>
        </div>
        <br>

        <%
        if(msg.length!=0)
        {
        %>
        <div class="alert alert-primary" role="alert">
            <%=msg%>
        </div>
        <%
        }
        %>  
        
        </div>
        </form>
</body>
</html>

